/* Document Level  */
html, body {
  height: 100%;
}
/* Custom Classes */

header {
  height: 6%;
}

section {
  height: 94%;
}


/* Nav Bar*/
.upload-form-meta {
  margin-top: 30px;
}
.form-group input {
  margin-top: 10px;
}

.available-tags, .button:active, .button:active, button:focus, .button:focus, button:hover, .button:hover{
    outline:none !important;
}

.add-field {
  text-align: center;
  margin-top: 10px;
}

.tags-form input {
  margin-top: 0;
}

.tag-input-groups {
  margin-top: 10px;
}

.schema-tags h5 {
  text-align: center;
}

.tag-values {
  padding: 0;
}

.tag-values, .col-md-2 {
  padding-top: 5px;
}

.tag-values, .col-md-10 {
  padding: 0;
}

.export-links span {
  float: right;
  margin-top: 1.4px;
}

.available-tags-input-groups {
  margin-bottom: 10px;
  width: 100%
}

.available-tags-input-groups button {
  width: 100%;
  text-align: left;
}

.available-tags-input-groups .caret {
  float: right;
  margin-top: 8px;
}

/* Main Interface */
.overview-pane {
  width: 100%;
  height: 100%;
  min-height: 100%;
  //background: #f9f9f9;
}

.search-bar {
  //margin-bottom: -20px;
  border: none;
  background: #fff;
}

.textarea-content {
  width: 100%;
  height: 100%;
  font-size: 1.3em;
  padding: 8px;
  color: #333;
  resize: none;
  border: none;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  overflow-y: scroll;
}

.overview-content {
  padding-top: 2%;
  overflow-y: auto;
  height: 94%;
}

.visualisation-pane {
  width: 100%;
  height: 100%;
  min-height: 100%;
  //background: #f9f9f9;
}

/* Bootstrap Overrides */
.fill {
    min-height: 100%;
    height: 100%;
}

.custom-main-interface {
  padding-top: 15px;
  padding-bottom: 15px;
}

.custom-overview-pane {
  padding-right: 7.5px;
  z-index: 1;
}

.custom-visualisation-pane {
  padding-left: 7.5px;
}

.navbar {
  margin-bottom: 0;
}

.navbar-header {
  padding-left: 3%;
}
.navbar-right {
  padding-right: 3%;
}

/*.container {
  margin-left: 0;
  margin-right: 0;
}*/

#selected-word {
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-color: #fff;
}

#selected-attr {
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-color: #fff;
}

.selected-attr {
  margin-top: 20px !important;
  width: 100%;
}
.selected-val-addon {
  padding-left: 22px !important;
  padding-right: 22px !important;;
}

pre {
  background-color: transparent;
  border: 0;
}

.alert {
	position: fixed;
  bottom: 0;
  z-index:2000 !important;
  width: 98%;
  padding: 1%;
  text-align: center;
  display: none;
}

.selected-file-style {
  float: left;
}

.mark {
  background: yellow;
}

/* Media Queries  */
@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}

@media (max-width: 991px) {
  .custom-overview-pane {
    padding-right: 15px;
  }

  .custom-visualisation-pane {
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
